# Ignore environment files with secrets
.env
config.ini

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/
.env
.env*.local
!.env
.vscode
/.vscode
FRESHJOB/.venv
FRESHJOB/.env
FRESHJOB/.vscode
